@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Chinook Music</h1>
    <img src="~/img/ChinookMusic.jpg"
         alt="Menu Logo image"
         title="Go to Home" />

    <p>Don Welch : Purchasing</p>
    <p>Known Bugs: none at this time</p>

</div>
